.flex-container {
    display: flex;              
    justify-content: space-around;  /* Space between items */
    flex-wrap: wrap;             
    max-width: 90%;              
    margin: 0 auto;             
    gap: 20px;                   
    padding: 20px;
}


.flex-box {
    background-color: #333;   
    color: white;                
    flex: 1 1 calc(25% - 40px);  
    padding: 50px;               /* Padding inside each box */
    text-align: center;          
    border-radius: 10px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    font-size: 18px;             
    transition: 0.3s; 
}


.flex-box:hover {
    transform: scale(1.05);      
}


/*Below switches screen size for responsiveness*/

@media (max-width: 768px) {
    .flex-box {
        flex: 1 1 calc(50% - 40px);  
    }
}

@media (max-width: 500px) {
    .flex-box {
        flex: 1 1 100%;          
    }
}

@media (max-width: 768px) {
    .flex-container {
        flex: 1 1 calc(50% - 40px);  
    }
}

@media (max-width: 500px) {
    .flex-container {
        flex: 1 1 100%;          
    }
}
